{% extends "auctions/layout.html" %}

{% block body %}
    {% if categories %}
    <div class="">
      <h2 class="text-center ">Categories</h2>
      <ul class="nav justify-content-center">
          {% for category in categories %}
          <li class="nav-item ">
              <a class="nav-link ms-2 me-2 fs-5 btn btn-outline-primary" href="listings/{{category.name}}">{{category.name}}</a>
          </li>
          {% endfor %}
      {% endif %}
      </ul>   
    </div>
    <h2>Active Listings</h2>
    {% for lot in lots %}
        {% if lot.active %}

          <div class="card mb-3" style="max-width: 100wv;">
            <div class="row g-0">
              <div class="col-md-4">
                <img img src="{{lot.image.url}}"  class="img-fluid rounded-start" alt="{{lot.name}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fs-5">{{lot.name}}</h5>
                    <h5>Price: ${{ lot.price}} </h5>
                    <p class="card-text">{{ lot.description }}</p>
                  <p class="card-text"><small class="text-muted">Active from {{lot.date}}</small></p>
                  <form action="{% url 'listing' %}" method="get">
                    <input type="hidden" name="id" value="{{ lot.id }}">
                    <input type="submit" class="btn btn-primary" value="View Listing">
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <div class="card mb-3 text-bg-secondary" style="max-width: 100wv;">
          <div class="row g-0">
            <div class="col-md-4">
              <img img src="{{lot.image.url}}"  class="img-fluid rounded-start" alt="{{lot.name}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title fs-5">{{lot.name}}</h5>
                  <h5>Price: ${{ lot.price}} </h5>
                  <p class="card-text">{{ lot.description }}</p>
                <p class="card-text"><small class="text-muted">Sold</small></p>
                <form action="{% url 'listing' %}" method="get">
                  <input type="hidden" name="id" value="{{ lot.id }}">
                  <input type="submit" class="btn btn-primary" value="View Listing">
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}