{% extends "auctions/layout.html" %}

{% block body %}


<!-- Lot information -->

            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{{lot.image.url}}" class="d-block mx-lg-auto img-fluid" alt="{{lot.name}}" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h2 class="display-5 fw-bold lh-1 mb-3">{{lot.name}} </h2>
                    <h4>Price: $<span class="price">{{ lot.price}} </span></h4>
                    <p class="lead">{{lot.description}}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        {% if user.is_authenticated %}
                        <button onclick="add({{lot.id}})"  class="btn btn-outline-secondary">Add to watchlist</button>
                        {% if lot.active %}
                        <div>
                            <h5>Bid: $<input id="bid-price" type="number" min="0"></h5>
                            <button onclick="bid({{lot.id}})" class="btn btn-primary w-100">Post bid</button>
                        </div>
                        {% else %}
                        <div>
                            <h5 class="m-1">Winner : {{lot.winner}}</h5>
                        </div>
                        {%endif%}
                        {% endif %}
                        <hr>
                        {% if user.username == name %}
                        <form action="{% url 'index' %}" method="post">
                            {%csrf_token%}
                            <input type="hidden" name = 'id' value="{{lot.id}}">
                            <input type="submit" value="Delete listing">
                        </form>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>

<!-- Lot bids  -->
            <h3 class="m-5 text-center">Bids</h3>
            <section class="m-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Bid</th>
                        <th scope="col">User</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                            <tr>
                                <th scope="row">$ {{bid.price}}</th>
                                <td>{{bid.user}} </td>
                            </tr>
                            {%empty%}
                                <tr>
                                    <td>No bids yet</td>
                                    <td>No bids yet</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </section>
            <hr>


<!-- Lot comments  -->
            <h3 class="text-center">Comments</h3>
            {% if user.is_authenticated %}
            <p>New comment</p>
                <textarea name="comment" id="new-comment"  rows="10"></textarea>
                <button onclick="comment({{lot.id}})" class="btn btn-primary mb-5 w-100">Add comment</button>
            {% endif %}    
            <section>
                <h4>Comments</h4>
                {% for comment in comments %}
                    <section class="border mt-5 mb-5">
                        <h5 class="p-5">{{comment.user}} <span class="ms-3">{{comment.date}} </span></h5>
                        <p class="ps-5">{{comment.comment}} </p>
                    </section>
                    {%empty%}
                    <p class="text-center mb-">No comments yet</p>
                {% endfor %}

            </section>







          <script defer>
                let price = document.querySelector('#bid-price')

                price.min = parseInt(document.querySelector('.price').innerHTML)

                //AJAX Request to add listing to watchlist
                function add(id){
                    $.ajax(
                        {
                            type:"POST",
                            url: "{% url 'watch' %}",
                            data: {
                                csrfmiddlewaretoken: '{{csrf_token}}',
                                id: id
                            },
                            success: function(data){
                                alert(data)
                            }
                        }
                    )
                }
                //AJAX request to bid on listing
                function bid(id){
                    $.ajax(
                        {
                            type:"POST",
                            url: "{% url 'bid' %}",
                            data: {
                                csrfmiddlewaretoken: '{{csrf_token}}',
                                id: id,
                                price: price.value
                            },
                            success: function(data){
                                alert(data)
                            }
                        }
                    )
                }
                //AJAX request to bid on listing
                function comment(id){
                    $.ajax(
                        {
                            type:"GET",
                            url: "{% url 'comment' %}",
                            data: {
                                lot: id,
                                comment: document.querySelector('#new-comment').value
                            },
                            success: function(data){
                                alert(data)
                            }
                        }
                    )
                }
                
            </script>
{% endblock %}