{% extends "auctions/layout.html" %}

{% block body %}


    <div class="form">
        <div class="content-login m-5 p-5 text-center">
            <form action="{% url 'register' %}" method="post">
            <h1>Register</h1>
            {% if message %}
            <div>{{ message }}</div>
            {% csrf_token %}
            {% endif %}
            <div class="form-floating">
                        <input type="text" name="username" id="top-form" class=" form-top form-control"  placeholder="Username">
                        <label for="text">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" name="email" id="emailId" class="form-mid form-control "  placeholder="Email">
                        <label for="emailId">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" placeholder="Password" id="passwordId" class=" form-mid form-control">
                        <label for="passwordId">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="confirmation" placeholder="Confirm Password" id="passwordconfirmId" class="form-bot form-control ">
                        <label for="passwordconfirmId">Confirm Password</label>
                    </div>
                <input type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" value="Register">
                
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
            </form>
        </div>
    </div>
{% endblock %}