{% extends "auctions/layout.html" %}

{% block title %} Watchlist {{user.username}}{% endblock %}

{% block body %}
    <h2>Watchlist</h2>
    {% for lot in data %}
            {% if lot.active %}
            <div class="card mb-3" style="max-width: 100wv;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img img src="{{lot.image.url}}"  class="img-fluid rounded-start" alt="{{lot.name}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title fs-5">{{lot.name}}</h5>
                      <h5>Price: ${{ lot.price}} </h5>
                      <p class="card-text">{{ lot.description }}</p>
                    <p class="card-text"><small class="text-muted">Active from {{lot.date}}</small></p>
                    <form action="{% url 'listing' %}" method="get">
                      <input type="hidden" name="id" value="{{ lot.id }}">
                      <input type="submit" class="btn btn-primary inline" value="View Listing">
                      <button onclick="remove({{lot.id}})" class="btn btn-primary">Remove from watchlist</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
          <div class="card mb-3 text-bg-secondary" style="max-width: 100wv;">
            <div class="row g-0">
              <div class="col-md-4">
                <img img src="{{lot.image.url}}"  class="img-fluid rounded-start" alt="{{lot.name}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fs-5">{{lot.name}}</h5>
                    <h5>Price: ${{ lot.price}} </h5>
                    <p class="card-text">{{ lot.description }}</p>
                  <p class="card-text"><small class="text-muted">Sold</small></p>
                  <form action="{% url 'listing' %}" method="get">
                    <input type="hidden" name="id" value="{{ lot.id }}">
                    <input type="submit" class="btn btn-primary inline " value="View Listing">
                    <button onclick="remove({{lot.id}})" class="btn btn-primary">Remove from watchlist</button>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
          {% endif %}
    {% endfor %}
    <script defer>
        function remove(id){
            $.ajax(
                {
                    type:"GET",
                    url: "{% url 'watch' %}",
                    data: {
                        id: id
                    },
                    success: function(data){
                        if (data == 'ok'){
                            div = document.createElement('div')
                            info = document.createElement('div')
                            info.style.backgroundColor='red'
                            info.style.position = 'absolute'
                            info.innerHtml = 'Item successfuly deleted'
                            body = document.querySelector('h2')
                            body.appendChild(info)

                        }
                    }
                }
            )
        }
        
    </script>
{% endblock %}