{% extends "auctions/layout.html" %}

{% block title %} Watchlist {{user.username}}{% endblock %}

{% block body %}
    <h2>Watchlist</h2>
    {% for lot in data %}
            <section id="lot-{{lot.id}}">
                <h2>{{ lot.name }}</h2><h5>{{lot.category}}</h5>
                <img src="{{lot.image.url}}" alt="No image"  width="300px">
                <p>Price: ${{ lot.price}} </p>
                <p>{{lot.description}} </p>
                <form action="{% url 'listing' %}" method="get">
                    <input type="hidden" name="id" value="{{ lot.id }}">
                    <input type="submit" class="btn btn-primary" value="View Listing">
                </form>
                <button onclick="remove({{lot.id}})" class="btn btn-primary">Remove from watchlist</button>
            </section>
    {% endfor %}
    <script defer>
        function remove(id){
            $.ajax(
                {
                    type:"GET",
                    url: "{% url 'watch' %}",
                    data: {
                        id: id
                    },
                    success: function(data){
                        if (data == 'ok'){
                            div = document.createElement('div')
                            info = document.createElement('div')
                            info.style.backgroundColor='red'
                            info.style.position = 'absolute'
                            info.innerHtml = 'Item successfuly deleted'
                            body = document.querySelector('h2')
                            body.appendChild(info)

                        }
                    }
                }
            )
        }
        
    </script>
{% endblock %}